<%- include('../partials/header') %> <%- include('navbar') %>

<section id="spot">
  <div class="spot-hl">
    <img src="<%=data.articles[0].image%>" alt="news" />
    <div class="spothl-content">
      <h1>
        <% if (data.articles[0].title.length < 50) { %> <%=
        data.articles[0].title %> <% } else { %> <%=
        (data.articles[0].title.substr(0, 50))+'...' %> <% } %>
      </h1>
      <div class="spothl-desc">
        <p><%=data.articles[0].description%></p>
        <button>
          <a target="_blank" href="<%=data.articles[0].url%>">read more</a>
        </button>
      </div>
    </div>
  </div>

  <div class="spot-new">
    <h1>New</h1>

    <div class="new new1">
      <a target="_blank" href="<%= data.articles[1].url %>">
        <h3>
          <% if (data.articles[1].title.length < 25) { %> <%=
          data.articles[1].title %> <% } else { %> <%=
          (data.articles[1].title.substr(0, 25))+'...' %> <% } %>
        </h3>
        <p>
          <% if (data.articles[1].title.length < 50) { %> <%=
          data.articles[1].title %> <% } else { %> <%=
          (data.articles[1].title.substr(0, 50))+'...' %> <% } %>
        </p>
      </a>
    </div>

    <div class="line"></div>

    <div class="new new1">
      <a target="_blank" href="<%= data.articles[2].url %>">
        <h3>
          <% if (data.articles[2].title.length < 25) { %> <%=
          data.articles[2].title %> <% } else { %> <%=
          (data.articles[2].title.substr(0, 25))+'...' %> <% } %>
        </h3>
        <p>
          <% if (data.articles[2].title.length < 50) { %> <%=
          data.articles[2].title %> <% } else { %> <%=
          (data.articles[2].title.substr(0, 50))+'...' %> <% } %>
        </p>
      </a>
    </div>

    <div class="line"></div>

    <div class="new new1">
      <a target="_blank" href="<%= data.articles[3].url %>">
        <h3>
          <% if (data.articles[3].title.length < 25) { %> <%=
          data.articles[3].title %> <% } else { %> <%=
          (data.articles[3].title.substr(0, 25))+'...' %> <% } %>
        </h3>
        <p>
          <% if (data.articles[3].title.length < 50) { %> <%=
          data.articles[3].title %> <% } else { %> <%=
          (data.articles[3].title.substr(0, 50))+'...' %> <% } %>
        </p>
      </a>
    </div>

    <div class="line"></div>
  </div>
</section>

<%- include('../partials/footer') %>
